.header {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between; // left align the menu toggle, right align the h1
  gap: 8px;

  background-color: blue;

  > h1 {
    order: 1; // swap visual order with nav toggle button
    margin: 0;
    font-size: 1rem; //16px
    transition: font-size 0.3s;

    @media (min-width: 360px) {
      font-size: 28px;
    }
  }
}

.navbar {
  > button {
    cursor: pointer;
    height: 32px;
  }

  > div {
    position: absolute;
    top: 100%; // height of header (relies on header having `position: relative`)
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: green;

    > p {
      margin: 0;
      padding: 8px;
    }
  }
}