.header {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between; // left align the menu toggle, right align the h1
  gap: 8px;

  background-color: blue;

  > h1 {
    order: 1; // swap visual order with nav toggle button
    margin: 0;
    font-size: 1rem; //16px
    transition: font-size 0.3s;

    @media (min-width: 360px) {
      font-size: 28px;
    }
  }
}

.navbar {
  > button {
    background:transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    margin: 0;
    padding: 0;

    // Could alternatively use 1.5em
    width: 3rem;
    height: 3rem;
    // Affects size of icon and this button, which all use em for sizing
    font-size: 2rem;
    // Affects vertical alignment of svg icons
    line-height: 0;

    // Circle button style with a box-shadow as a border (that doesn't interfere with layout)
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 2px hsla(170deg, 90%, 70%, 0.5);
    border-radius: 50%;

    &:hover, &:active {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px hsla(170deg, 90%, 70%, 0.5), 0 0 0 4px dodgerblue;

      // Remove focus-ring for non-keyboard triggered focus
      &:not(:focus-visible) { box-shadow: 0 0 0 2px hsla(170deg, 90%, 70%, 0.5); }
    }
  }

  > div {
    position: absolute;
    top: 100%; // height of header (relies on header having `position: relative`)
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: green;

    > p {
      margin: 0;
      padding: 8px;
    }
  }
}