@import-normalize;

*, *::after, *::before {
  box-sizing: border-box;
}

.App {
  color: white;
  background-color: #242738;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}