html {
  background-color: rgb(36 39 56);
}

/*
- Ensures any vertical overflowing content will be scrolled from this layer,
which is sized and stretched to fill the viewport without issues that vh/vw have.
- Child element .App will size based on #root as it's parent.
- `min-width` must not be set on this element due to overflow behaviour rendering scrollbars.
*/
#root {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.App {
  min-width: 180px;
  // Uses viewport height (from #root) unless content height exceeds it.
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: white;
}